.menu {
  position: fixed;
  width: 50vw;
  height: 100vh;
  transform: translateX(-150%);
}

.menuActive {
  position: fixed;
  width: 50%;
  height: 100vh;
  top: 0;
  right: 0;
  transform: translateX(-100%);
  transform: translateX(0);
}

.menuContent {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuList {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  z-index: 1;
  margin: auto;
  width: 80%;
  text-align: left;
}

.menuX {
  font-size: 50px;
  position: absolute;
  top: 50px;
  right: 100px;
  cursor: pointer;
}

.menuList a {
  color: black;
  font-weight: 500;
  letter-spacing: 6px;
  font-size: 80px;
  font-style: normal;
  line-height: 130px;
  cursor: pointer;
}

.menuContentBlur {
  width: 100%;
  height: 100vh;
  right: 100%;
  backdrop-filter: blur(10px);
  position: absolute;
}
