.main {
  height: auto;
  min-height: 100vh;
}

.fullScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.fullScreenVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fullScreenBody {
  padding: 50px 15px;
  background: linear-gradient(rgba(0, 0, 0, 0), 20%, #170200);
  position: relative;
  z-index: 1;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.fullScreenTitle {
  position: absolute;
  bottom: 200px;
  left: 50px;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 20px;
  margin: 0 0 30px 0;
  color: white;
}

.fullScreenText {
  position: absolute;
  bottom: 170px;
  left: 100px;
  font-size: 20px;
  letter-spacing: 6px;
  color: rgba(255, 255, 255, 0.4);
}

.span {
  font-size: 66px;
  color: rgba(255, 255, 255, 0.4);
}

.sliderContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 160px;
  margin-top: 60px;
}

.content {
  position: relative;
}

.headingSlider {
  position: absolute;
  z-index: 1;
  padding: 20px;
  top: 110px;
  right: 239px;
  font-size: 30px;
  color: white;
  background-color: #170200;
}

.picnicContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  margin-top: 80px;
  position: relative;
}

.picnicHeaderH1 {
  margin-left: 100px;
}

.picnicHeaderH2 {
  position: absolute;
  top: -57px;
  right: 300px;
  padding: 26px;
  padding-right: 0;
  background-color: #170200;
  color: white;
  font-size: 30px;
}

.picnicHeaderH3 {
  margin-left: 55px;
}

.picnicContantText {
  display: flex;
  flex-direction: column;

  color: white;
  font-size: 30px;
}

.picnicContant {
  display: flex;
  justify-content: center;
  width: 1300px;
}

.picnicImgLogo {
  width: 100%;
  background-color: #00000051;
}

.picnicContantParagraph {
  width: 650px;
}