.header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.5s ease;
}

.headerLogo {
  height: 100px;
  padding-top: 10px;
  padding-bottom: 4px;
  transition: 0.5s ease;
}

.headerLogoScrolled {
  height: 70px;
  padding-top: 10px;
  transition: 0.5s ease;
}

.burgerBtn {
  border: none;
  background: transparent;
  font-size: 40px;
  color: white;
  height: 100%;
}

.scrolledHeader {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #170200b4;
  transition: 0.5s ease-out;
}

.scrollHeader {
  position: sticky;
  top: 0;
  z-index: 10;
  background: transparent;
}
